body {
  background-color: #6b5b95;
  color: #44278d;
  border-color: #cabbf0;
}

.sari{
  background-color: #feb236;
  color: #fabe5e;
}

.turuncu{
  background-color: #ff7b25;
}

.pembe{
  background-color: #d64161;
}

